[safe]
	directory = /home/orb/ORB_SLAM3
[user]
	name = lacykaltgr
	email = freundl0509@gmail.com
[http]
	postBuffer = 524288000
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = input
[credential]
	helper = "!f() { /root/.vscode-server/bin/dfaf44141ea9deb3b4096f7cd6d24e00c147a4b1/node /tmp/vscode-remote-containers-a7f528aa-364b-40bb-a9c7-06a7efee516c.js git-credential-helper $*; }; f"
