[safe]
	directory = /home/orb/ORB_SLAM3
[user]
	name = lacykaltgr
	email = freundl0509@gmail.com
[http]
	postBuffer = 524288000
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = input
[credential]
	helper = "!f() { /root/.vscode-server/bin/e3550cfac4b63ca4eafca7b601f0d2885817fd1f/node /tmp/vscode-remote-containers-b0718377-d235-4356-83a5-a3d80e7d812a.js git-credential-helper $*; }; f"
