[safe]
	directory = /home/orb/ORB_SLAM3
[user]
	name = lacykaltgr
	email = freundl0509@gmail.com
[http]
	postBuffer = 524288000
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = input
[credential]
	helper = "!f() { /root/.vscode-server/bin/c306e94f98122556ca081f527b466015e1bc37b0/node /tmp/vscode-remote-containers-466db3a3-01ee-4595-8b87-27b3f1217982.js git-credential-helper $*; }; f"
